## RapidAPI GeoDB Cities API
VITE_RAPIDAPI_BASE_URL=https://wft-geo-db.p.rapidapi.com/v1/geo
VITE_RAPIDAPI_HOST=wft-geo-db.p.rapidapi.com
VITE_RAPIDAPI_KEY=your_rapidapi_key

## Rest Countries API
VITE_COUNTRY_API_URL=https://restcountries.com/v3.1/alpha

## OpenWeather API
VITE_WEATHER_API_URL=https://api.openweathermap.org/data/2.5
VITE_WEATHER_KEY=your_weather_key

## Foursquare API
VITE_FOURSQUARE_BASE_URL=https://places-api.foursquare.com

VITE_FOURSQUARE_KEY=your_foursquare_key
